{% extends 'BusinessAnnuaireBundle::layout.html.twig' %}
{%block javascript%}
<!--Form Validator-->

{{parent()}}


{%endblock%}

{%block body%}

<div class="grid_1"> 
<div class="box-stand">
<h4>Détails Annonces</h4>
<table style="width:100%;" class="tabsuiv">
  <tr style="background:url(css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);border-bottom: 1px solid #000;">
    <td colspan="2">{{annonce.titre}}</td>
    <td></td>
  </tr>
  <tr>
    <td style="width:150px;"><strong style="color:#000;">Titre :</strong></td>
    <td>{{annonce.titre}}</td>
    <td rowspan="5">
         {%if annonce.path=="" %} 
              
            <a href="{{asset("bundles/businessannuaire/images/logosoc/no-image.gif")}}" rel="prefetch"  title="{{promotion.titre}}">
             <figure style="margin-right:10px;float: left;"><img src="{{asset("bundles/businessannuaire/images/logosoc/no-image.gif")}}" rel="prefetch" alt="{{promotion.title}}" style=" width: 200px; height: 250px; "></figure>   
              </a>
          {%else%}
             
              <a href="{{asset("bundles/businessannuaire/uploads/annonces/images/")}}{{annonce.path}}" rel="prefetch"  title="{{annonce.titre}}">
        </a>   
            <img src="{{asset("bundles/businessannuaire/uploads/annonces/images/")}}{{annonce.path}}" rel="prefetch" alt="{{annonce.titre}}" style=" width: 180px; height: 220px; ">  
            
        {%endif%}
               
            </td>
  </tr>
  <tr>
    <td><strong style="color:#000;">Publiée le :</strong></td>
    <td>{{annonce.datepublication|date('d/m/Y H:i:s')}}</td>
  </tr>
  <tr>
    <td><strong style="color:#000;">Par :</strong></td>
    <td>{{annonce.annonceur.username}}</td>
  </tr>
  <tr>
    <td><strong style="color:#000;">Téléphone :</strong></td>
    <td>{{annonce.annonceur.telephone}}</td>
  </tr>
  <tr>
    <td><strong style="color:#000;">Région :</strong></td>
    <td>{{annonce.lieu}}</td>
  </tr>
  <tr>
    <td><strong style="color:#000;">Description :</strong></td>
    <td>{{annonce.description}} </td>
    <td></td>
  </tr>
  <tr>
    <td><strong style="color:#F70B0B;">Prix :</strong></td>
    <td style="color:#F70B0B;">{{annonce.prix}}</td>
    <td></td>
  
  </tr>
</table>
</div> <!--Annonce détails-->
<div class="box-stand">
<div class="fb-like" data-href="http://www.tunisie-business.net/annonce-erp-86.html" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
<div class="fb-share-button" data-href="http://www.tunisie-business.net/annonce-erp-86.html" data-type="button" style=" margin: -2px 20px 0px 20px; "></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tunisie-business.net/annonce-erp-86.html" data-via="TunisieBusiness" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div style=" margin-top: 10px; ">
<div class="fb-comments" data-href="http://www.tunisie-business.net/annonce-erp-86.html" data-colorscheme="light" data-numposts="5" data-width="600"></div>
</div> <!--Button like & Shared Article-->
<div style="margin-top:2px;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Annonce 468 x 60 -->
<ins class="adsbygoogle"
     style="display:inline-block;width: 590px;height: 60px;border: solid 1px #000;"
     data-ad-client="ca-pub-2668523252332800"
     data-ad-slot="7232924170"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>	<!--Adsens-->
<div class="box-stand">
<h4>Répondre à cette annonce</h4>
<table style="width:100%;" class="tabsoc">
  <tr style="background:url(css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);">
    <td>Vous pouvez répondre à cette annonce à travers le formulaire suivant :</td>
  </tr>
</table>
<form id="pro_form1" method="post" action="{{path('annuaire_repondre_annonce')}}" onsubmit="alert('Message Envoyé')">
<fieldset>
<br />
<label><span style=" float: left; ">Nom :</span>
<input class="validate[required]" type="text" name="nom" id="nom" style=" margin-left: 70px; "/>
</label>
<br />
<label><span style=" float: left; ">Prénom :</span>
<input class="validate[required]" type="text" name="prenom" id="prenom" style=" margin-left: 48px; "/>
</label>
<br />
<label><span style=" float: left; ">E-mail :</span>
<input class="validate[required,custom[email]]" type="text" name="email" id="email" style=" margin-left: 60px; "/>
</label>
<input type="hidden" value="{{annonce.annonceur.username}}" name="destinataire">
<input type="hidden" value="{{annonce.titre}}" name="titre">


<br />
<label><span style=" float: left; ">Téléphone :</span>
<input class="validate[required]" type="text" name="tel" id="tel" style=" margin-left: 30px; "/>
</label>
<br />
<label><span style=" float: left; ">Message :</span>
<textarea class="validate[required,length[10,500]]" name="msg" id="msg" style=" margin-left: 41px; "></textarea>
</label>
<div class="btns"><input name="send" id="submit" type="submit" value="Envoyer" style=" cursor: pointer; float: right; height: 30px; text-decoration:none; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; text-transform:uppercase; font-size:14px; line-height:17px; border-radius:3px; display:inline-block; -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;margin-bottom: 10px; " /><div class="clear"></div></div>
</fieldset>
</form>
</div> <!--Formulaire de reservation-->
<div class="clear"></div>
</div> <!--End include left-->
<!--include right-->
<div class="grid_2">
    

<!--Pub right Annonceurs-->
<div class="box-stand">

    <div class="clear"></div>
</div> <!--Annonceurs-->

<div class="box-pub">
				<!-- // end of photoslider-mini -->
	<div class="clear"></div>
</div> <!--Bloc pub Carée-->
<div class="box-pub2">
</div> <!--FB like blocs-->
<div class="box-pub2">
<!-- Place this tag where you want the widget to render. -->
<div class="g-page" data-width="250" data-href="https://plus.google.com/105367995533699353729" data-showtagline="false" data-rel="publisher"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = '../apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div> <!--FB like blocs-->
<div class="box-pub2">
				<!-- Start photoslider-mini -->
				<div class="sliderkit photoslider-maxi" style="width:252px;height:600px;">
					<div class="sliderkit-panels">
						

						
						<div class="sliderkit-panel">
						
                                                </div>
						<div class="sliderkit-panel">
								</div>
					</div>
				</div>
				<!-- // end of photoslider-mini -->
	<div class="clear"></div>
</div> <!--Bloc pub Large-->
</div> <!--End include right-->

<div class="clear"></div> <!--Clear-->

</div>
</section>
       
<div class="line-2"></div>	<!--line-->
<div class="container_12">

<div class="box-actualite fleft">

</div> <!--Dérniers Promotions-->

<div class="box-actualite fright">
</div> <!--Dérniers annonces-->

<div class="clear"></div>

</div>
{%endblock%}