{% extends 'BusinessAnnuaireBundle::layout.html.twig' %}
{%block javascript%}
<!--Form Validator-->

{{parent()}}


{%endblock%}

{%block body%}


<div class="grid_1"> 
<div class="box-stand">


<div class="clear"></div>
<!--Script des catégories des annonces-->

<div class="box-stand marg33">
<table style="width:100%;" class="tabaff">
	<tr style="background:url(css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);">
    	<td colspan="2">Rechercher une annonce</td>
    </tr>
</table>
<form id="pro_form1" method="post" action="{{path('rechercheannonces')}}">
<fieldset>
<br>
<label><span style="float: left;">Catégorie :</span>
    <select name="rechannonce" id="rechannonce" class="validate[required]" style=" margin-left: 122px;" onchange="return remplirsouscategorie(document.getElementById('rechannonce').value,$('#rechsousannonces'));" >
	<option value="" >-----Choix-----</option>
        {%for cat in categories %}
        <option value="{{cat.id}}">{{cat.nom}}</option>
        {%endfor%}
  
    </select>
</label>
<div id="rechsousannonces"></div>

<label><span style="float: left;">Région :</span>
                            <select size="1" name="lieu" id="lieu" class="validate[required]" style=" margin-left: 141px; ">
                               <option value="">--Sélectionnez--</option>
                                                              <option value="Ariana">Ariana</option>
                                                                <option value="Béja">Béja</option>
                                                                <option value="Ben Arous">Ben Arous</option>
                                                                <option value="Bizerte">Bizerte</option>
                                                                <option value="Gabès">Gabès</option>
                                                                <option value="Gafsa">Gafsa</option>
                                                                <option value="Jendouba">Jendouba</option>
                                                                <option value="Kairouan">Kairouan</option>
                                                                <option value="Kasserine">Kasserine</option>
                                                                <option value="Kébili">Kébili</option>
                                                                <option value="Kef">Kef</option>
                                                                <option value="Mahdia">Mahdia</option>
                                                                <option value="Manouba">Manouba</option>
                                                                <option value="Médenine">Médenine</option>
                                                                <option value="Monastir">Monastir</option>
                                                                <option value="Nabeul">Nabeul</option>
                                                                <option value="Sfax">Sfax</option>
                                                                <option value="Sidi Bouzid">Sidi Bouzid</option>
                                                                <option value="Siliana">Siliana</option>
                                                                <option value="Sousse">Sousse</option>
                                                                <option value="Tataouine">Tataouine</option>
                                                                <option value="Tozeur">Tozeur</option>
                                                                <option value="Tunis">Tunis</option>
                                                                <option value="Zaghouan">Zaghouan</option>
                                     
                            </select>
</label>
<label><span style="float: left;">Mots clés :</span>
<input type="text" name="keyannrech" id="keyannrech" value="" style=" margin-left: 110px; "/>
</label>
<div class="btns"><input name="send" id="submit" type="submit" value="Rechercher" style=" cursor: pointer; float: right; height: 30px; text-decoration:none; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; text-transform:uppercase; font-size:14px; line-height:17px; border-radius:3px; display:inline-block; -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;margin-bottom: 10px;margin-top: -30px;" /><div class="clear"></div></div>
<div class="clear"></div>
<div class="box-stand">
<h4>Dernières Annonces</h4>
<table style="width:100%;" class="tabsoc">
  <tr>
    <td>Photo</td>
    <td>Annonce</td>
    <td>Région</td>
  </tr>

  {%for ann in listannonces %}
  <tr><td style="width: 10%;"> <a href="{{path('annuaire_ficheannonce',{'id':ann.id})}}" title="">
           {%if ann.path=="" %} 
              <img itemprop="image" src="{{asset("bundles/businessannuaire/images/logosoc/no-image.gif")}}" alt="" style="width:120px; height:60px;" />
        </a>
          {%else%}
              <img itemprop="image" src="{{asset("bundles/businessannuaire/uploads/annonces/images/")}}{{ann.path}}" alt="" style="width:120px; height:60px;" />
        </a>      
                 {%endif%} 
              </td><td style="width: 60%;">
            <a href="{{path('annuaire_ficheannonce',{'id':ann.id})}}" title=""><strong itemprop="name">{{ann.titre}}</strong></a>
                <br>publier le : {{ann.datepublication|date('d/m/Y')}} </td>   
<td style="width: 30%;">{{ann.lieu}}</td>
 </tr>
{%endfor%}
    
    </table>
</div>
</fieldset>
</form>
</div>  <!--Annonce en Avant-->

 <!--Annonce en Avant-->

<div class="clear"></div> <!--Clear-->
     


<!--Listes Annonces-->
    
     

</div> <!--End include left-->

<!--include right-->
<div class="grid_2">
    

<!--Pub right Annonceurs-->
<div class="box-stand">

    <div class="clear"></div>
</div> <!--Annonceurs-->

<div class="box-pub">
				<!-- // end of photoslider-mini -->
	<div class="clear"></div>
</div> <!--Bloc pub Carée-->
<div class="box-pub2">
</div> <!--FB like blocs-->
<div class="box-pub2">
<!-- Place this tag where you want the widget to render. -->
<div class="g-page" data-width="250" data-href="https://plus.google.com/105367995533699353729" data-showtagline="false" data-rel="publisher"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = '../apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div> <!--FB like blocs-->
<div class="box-pub2">
				<!-- Start photoslider-mini -->
				<div class="sliderkit photoslider-maxi" style="width:252px;height:600px;">
					<div class="sliderkit-panels">
						

						
						<div class="sliderkit-panel">
						
                                                </div>
						<div class="sliderkit-panel">
								</div>
					</div>
				</div>
				<!-- // end of photoslider-mini -->
	<div class="clear"></div>
</div> <!--Bloc pub Large-->
</div> <!--End include right-->

<div class="clear"></div> <!--Clear-->

</div>
</section>
       
<div class="line-2"></div>	<!--line-->
<div class="container_12">

<div class="box-actualite fleft">

</div> <!--Dérniers Promotions-->

<div class="box-actualite fright">
</div> <!--Dérniers annonces-->

<div class="clear"></div>

</div>

{%endblock%}
