 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<div id="loginContainer">
		        <a href="#" id="loginButton" title="cr&eacute;r une compte tunisie business"><span style="min-width: 80px;">
      {%if app.user.typecompte=="Pro"%}                          
       {{ app.user.nomsociete }}
       {%else%}
         {{ app.user.nom }}                                
       {%endif%}                                 
                                    </span><em></em></a>
        <div style="clear:both"></div>
        <div id="loginBox">           
            
   <ul id="loginForm">
       
           <fieldset id="body">


    <li style="font-size: 18px; border: 1px solid; border-radius: 4px; text-align: center;">
    <a title="mon espace pro tunisie business" href="{{path('annuaire_mescoordonness')}}">Mon Compte</a>
   
</li>
<li style="font-size: 18px; border: 1px solid; border-radius: 4px; text-align: center;">
<a title="Ajouter une annonce | TunisieBusiness" href="{{path('annuaire_ajoutannonce')}}">Ajouter annonce</a>
</li>
<li style="font-size: 18px; border: 1px solid; border-radius: 4px; text-align: center;">
<a title="Mes messages reçus | TunisieBusiness" href="{{path('annuaire_repannonces')}}">Message récu</a>
</li>
<li style="font-size: 18px; border: 1px solid; border-radius: 4px; text-align: center;">
<a title="Déconnexion | TunisieBusiness" href="{{path('fos_user_security_logout')}}">Déconnexion</a>
</li>
</fieldset>
           
           
           
</ul>
        </div>
</div>


{%else%}
 <div id="loginContainer">
		        <a href="#" id="loginButton" title="cr&eacute;r une compte tunisie business"><span style="min-width: 80px;">
        Connexion</span><em></em></a>
        <div style="clear:both"></div>
        <div id="loginBox">           
            <form id="loginForm"  action="{{ path("fos_user_security_check") }}" method="post">
	      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <fieldset id="body">
                        <fieldset>
                            <label for="email">Email</label>
                            <input type="text" name="_username" id="email" class="validate[required,custom[email]]" value="{{ last_username }}"/>
                        </fieldset>
                        <fieldset>
                            <label for="password">Mot de Passe</label>
                            <input type="password" name="_password" id="password" class="validate[required]"/>
                        </fieldset>
                        <fieldset>
                                                </fieldset> 
                        <input type="submit" name="login" id="login" value="Connexion" />
                    </fieldset>
                        <span><a href="{{path('annuaire_registerpage')}}" title="">Cr&eacute;er un compte personnel  </a></span>
                        <span><a href="{{path('annuaire_registercompanypage')}}" title="">Cr&eacute;er un compte société</a></span>
                   
             </form>	<!--Formulaire inscription-->
        	</div>
</div>
{%endif%}
