{% extends 'BusinessAnnuaireBundle::layout.html.twig' %}
{%block javascript%}
<!--Form Validator-->

<link rel="stylesheet" href="{{asset("bundles/businessannuaire/includes/formValidator/css/validationEngine.jquery.css")}}" type="text/css" media="screen" title="no title">
<link rel="stylesheet" href="{{asset("bundles/businessannuaire/includes/formValidator/css/template.css")}}" type="text/css" media="screen" title="no title">
<link href="{{asset("bundles/businessannuaire/includes/msgBox/Styles/msgBoxLight.css")}}" rel="stylesheet" type="text/css"><!--MsgBox-->
<link rel="stylesheet" href="{{asset("bundles/businessannuaire/autocomplete/themes/base/jquery.ui.all.css")}}"><!--autocomplite-->
<link rel="stylesheet" type="text/css" href="{{asset("bundles/businessannuaire/lib/css/sliderkit-core.css")}}" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="{{asset("bundles/businessannuaire/lib/css/sliderkit-demos.css")}}" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="{{asset("bundles/businessannuaire/lib/css/sliderkit-site.css")}}" media="screen, projection" />	<!--slider kit css-->


{%endblock%}

{%block body%}
<div class="grid_1"> 
<div class="box-stand">
<h4>Coordonnées Personnelle</h4>
<table class="tabsuiv" style="width:100%;">
<tbody>
<tr style="background:url(css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);border-bottom: 1px solid #000;">
<td>Modifier Coordonnées Personnelle</td>
</tr>
</tbody>
</table>
<form id="pro_form1" action="{{path('annuaire_mescoordonness')}}" style="box-shadow: 2px 2px 10px #888888;" method="post" {{form_enctype(form)}}>
<fieldset>
<br>
<label>
<span style=" float: left; ">{{form_label(form.nom)}}</span>
{#<input id="nom" class="validate[required]" type="text" value="chebl" name="nom">#}
{{form_widget(form.nom,{'attr': {'class': 'validate[required]','id':'nom','style':'margin-left: 173px;'}})}}  
</label>
<br>
<label>
<span style=" float: left; ">{{form_label(form.prenom)}}</span>
{{form_widget(form.prenom,{'attr': {'class': 'validate[required]','id':'prenom','style':'margin-left: 152px;'}})}} 
</label>
<br>
<label>
<span style=" float: left; ">{{form_label(form.email)}}</span>
{{form_widget(form.email,{'attr': {'class': 'validate[required,custom[email]]','id':'email','name':'email','style':'margin-left: 164px;'}})}} 
</label>
<br>

<label><span style=" float: left; ">{{form_label(form.telephone)}}</span>
{#<input class="validate[required,custom[email]]" type="text" name="email" id="email" style=" margin-left: 164px; " value=""/>#}
{{form_widget(form.telephone,{'attr': {'class': 'validate[required]','style':'margin-left: 130px;','id':'tel','name':'tel'}})}} 

</label>
<br>
<label>
<span style=" float: left; ">{{form_label((form.plainPassword.first))}}</span>
{{form_widget(form.plainPassword.first,{'attr': {'class': 'validate[required,length[6,25]]','id':'passwor','style':'margin-left: 115px;'}})}} 

</label>
<label>
<span style=" float: left; ">{{form_label((form.plainPassword.second))}}</span>
{{form_widget(form.plainPassword.second,{'attr': {'class': 'validate[required,confirm[passwor],length[6,25]]','id':'confirmpassword','style':'margin-left: 22px;'}})}} 

</label>
<div class="btns">
<input id="submit" type="submit" style=" cursor: pointer; float: right; height: 30px; text-decoration:none; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; text-transform:uppercase; font-size:14px; line-height:17px; border-radius:3px; display:inline-block; -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;margin-bottom: 10px; " value="Modifier" name="modifpas">
<div class="clear"></div>
</div>
<div class="clear"></div>
</fieldset>
        {{form_rest(form)}}

</form>
</div>
        <div class="box-stand">

    
<!--Pub right Annonceurs-->

</div>
      
<div class="clear"></div><div class="clear"></div>
</div>

{%include 'BusinessAnnuaireBundle:Profil:sidebar.html.twig' %}
<div class="grid_2">

<!--Pub right Annonceurs-->
<div class="box-stand">
<div class="clear"></div>
</div> <!--Annonceurs-->

</div> <!--FB like blocs-->

</div> <!--End include right-->

<div class="clear"></div> <!--Clear-->

</div>
</section>
       
<div class="line-2"></div>	<!--line-->
<div class="container_12">



<div class="clear"></div>
</div>



{%endblock%}
